.box {
  @apply w-[80%] h-[63px] p-[12px] flex items-center gap-2 bg-[#BCD4FF] relative pl-[40px]
  ml-[38px] mt-[17px] duration-300 opacity-0;
  box-shadow: 4px 4px 10px rgba(197, 186, 235, 0.75);
}
.box_index {
  @apply absolute top-[-25%] left-[-37px] px-[28px] shrink-0 w-[63px] h-[63px] py-[11px] text-dark-blue 
  bg-white flex items-center justify-center med-600:px-[14px];
  box-shadow: 4px 4px 10px rgba(139, 69, 28, 0.75);
}
.box_index::before {
  content: '';
  @apply absolute top-full right-0 left-[34vfgbtpx];
  border-left: 31.5px solid #056bc1;
  border-bottom: 16.5px solid transparent;
}
.box > p {
  @apply font-semibold leading-[180%] text-sm text-black med-600:text-[12px] med-600:leading-[160%];
}
.box_index p {
  @apply font-bold text-[32px] h-[48px] med-600:text-lg med-600:h-fit;
}
