.customSelect {
  @apply relative min-w-[143px] flex flex-col gap-1 w-full;
}

.options {
  @apply z-[1001] bg-white border-[1px] border-[##80808033] shadow-light w-full absolute top-[calc(100%_+_5px)] rounded-2xl overflow-hidden;
}

.optionsContainer {
  @apply max-h-[200px] overflow-y-auto bg-[#ffffff69];
}
.defaultOption {
  @apply flex gap-1 items-center overflow-hidden relative bg-white 
  rounded-[30px] px-[25px] py-[14px] w-[408px] shadow-light cursor-pointer 
  text-ellipsis
  med-600:w-full;
  border: 1px solid #ffffff;
}
.title {
  @apply cursor-pointer w-full border-none bg-inherit text-base text-[#b2b2b2] 
  placeholder:text-[#b2b2b2] placeholder:text-base;
}
.optionBox {
  @apply flex justify-between items-center hover:bg-slate-200 
  transition-all mx-auto h-11 w-full text-[#9C9C9C]
  cursor-pointer overflow-y-hidden;
}
.option {
  @apply py-3 px-4 w-full text-ellipsis overflow-hidden whitespace-nowrap;
}
.input {
  @apply w-full px-4 py-3 border-[#CCCCCC] border rounded-2xl outline-none h-10;
}
.addImg {
  @apply absolute top-[53%] left-auto right-[13px] cursor-pointer -translate-y-1/2;
}
.backDiv {
  @apply fixed top-0 left-0 bottom-0 right-0 z-[1000];
}
@media (max-width: 800px) {
  .customSelect,
  .defaultOption {
    @apply border-none;
  }
}
