.globuses {
  @apply grid gap-y-10 grid-cols-4 justify-items-center py-[80px] 
  med-1200:py-[30px] med-600:hidden;
  overflow: inherit;
}
.globus {
  @apply h-auto relative cursor-pointer w-[132px] min-h-[132px] med-900:w-[85%];
}
.globus_box {
  @apply flex flex-col gap-[25px] items-center;
}
.globus_title {
  @apply text-lg leading-5 text-center text-dark-blue !bg-transparent med-900:text-sm;
}
.globus:hover .globus_desc {
  @apply opacity-100;
}
.globus_desc {
  @apply opacity-0 duration-500 absolute w-[225%] left-1/2 bottom-[calc(100%_+_5px)] 
  -translate-x-1/2 z-[99] text-dark-blue text-center leading-[19px] bg-white  
  px-[45px] rounded-[20px] pt-[16px] pb-[23px] flex flex-col gap-2;
  box-shadow: 0 5px 10px 0px #74747480;
  pointer-events: none;
}
.globus_desc::after {
  content: '';
  @apply absolute top-[99%] left-1/2 -translate-x-1/2 w-[5%] h-[15px] bg-white bg-transparent;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 10px solid white;
}
.globus_desc > span {
  background: linear-gradient(180deg, #0026aa 0%, #30cfff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.ad_p {
  @apply max-w-[90%] flex w-max py-2 px-5  text-center absolute -translate-x-1/2 
  -translate-y-1/2 top-1/2 left-1/2 overflow-hidden flex-wrap justify-center;
}
.ad_p span {
  animation-name: animate;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-duration: 7s;
  @apply opacity-0 block min-w-[14px] text-white font-bold text-[24px] 
  med-600:text-base med-600:leading-5;
  transform-origin: 0 100%;
}

@keyframes animate {
  0% {
    transform: translateY(1.1em) translateX(0.55em) translateZ(0px) rotateZ(180deg);
    opacity: 0;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
}

@media (max-width: 600px) {
  .globus {
    @apply bg-white rounded-[20px] p-[22px] pb-[27px] w-full;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
  }
}
