:root {
  /* --bg-color: linear-gradient(
    180deg,
    #f6f0f0 3.46%,
    #ffffff 54.69%,
    #f6f0f0 100%
  ); */
  --bg-color: #f6f0f0;
}

.item {
  box-shadow: 0px 5px 26px rgba(0, 0, 0, 0.15);
  @apply bg-white w-full text-[26px] text-[#938E97] flex justify-between gap-5
  duration-700 med-900:text-[20px];
}

.wrapper {
  @apply flex w-[95%] items-center justify-evenly;
}

.title,
.date,
.country,
.magnitude {
  @apply py-[14px] relative;
}
.title::before,
.date::before,
.country::before {
  content: '';
  @apply absolute left-[-16%] border-dashed border-[1px] border-[#CDC9CE] 
  h-[60%] top-1/2 -translate-y-1/2;
}

.magnitude {
  @apply w-[16%] min-w-[120px] before:hidden;
}
.magnitude,
.date {
  background: var(--bg-color);
  @apply py-[14px] pl-[63px] pr-5 relative w-fit text-[#FF0003] font-extrabold
  text-center;
}
.magnitude::after,
.date::after {
  content: '';
  border-bottom: 35px solid transparent;
  border-top: 35px solid transparent;
  border-left: 40px solid #f6f0f0;
  @apply absolute left-[99%] top-0 bottom-0 h-full;
}

.country {
  @apply text-black;
}

.date {
  @apply pr-10 pl-7 text-[#654E65] font-normal after:hidden;
}

@media (max-width: 1200px) {
  .item {
    @apply text-[16px];
  }
  .magnitude::after,
  .date::after {
    content: '';
    border-bottom: 25px solid transparent;
    border-top: 25px solid transparent;
    border-left: 20px solid #f6f0f0;
  }
}

@media (max-width: 1000px) {
  .item {
    @apply med-1200:text-[16px];
  }
  .magnitude::after,
  .date::after {
    content: '';
    border-bottom: 25px solid transparent;
    border-top: 25px solid transparent;
    border-left: 20px solid #f6f0f0;
  }
}
@media (max-width: 600px) {
  .title::before,
  .date::before,
  .country::before {
    @apply hidden;
  }
  .title,
  .date,
  .country,
  .magnitude {
    @apply text-xs;
  }
  .wrapper {
    @apply flex-col [&>*]:py-0 items-start mx-auto w-fit relative;
  }
  .wrapper::before {
    content: '';
    @apply absolute left-[-8%] border-dashed border-[1px] border-[#CDC9CE] 
    h-[60%] top-1/2 -translate-y-1/2;
  }
  .wrapper::after {
    content: '';
    @apply absolute right-[-8%] border-dashed border-[1px] border-[#CDC9CE] 
    h-[60%] top-1/2 -translate-y-1/2;
  }
  .magnitude,
  .date {
    @apply py-3 pl-3 pr-2;
  }
  .date {
    @apply pl-2 pr-3;
  }
  .magnitude {
    @apply min-w-[60px];
  }
  .magnitude::after,
  .date::after {
    border-bottom: 20px solid transparent;
    border-top: 20px solid transparent;
    border-left: 14px solid #f6f0f0;
  }
}
