:root {
  /* --bg-color: linear-gradient(
    180deg,
    #f6f0f0 3.46%,
    #ffffff 54.69%,
    #f6f0f0 100%
  ); */
  --bg-color: #f6f0f0;
}

.item {
  box-shadow: 0px 5px 26px rgba(0, 0, 0, 0.15);
  @apply bg-white w-full text-[26px] text-[#938E97] flex gap-5 duration-700 med-900:text-[20px];
}
.item2 {
  box-shadow: 0px 5px 26px rgba(0, 0, 0, 0.15);
  @apply bg-white w-full text-[26px] text-[#938E97] flex gap-16 duration-700 med-900:text-[20px];
}
/* .item2 {
  box-shadow: 0px 5px 26px rgba(0, 0, 0, 0.15);
  @apply bg-white w-full text-[26px] text-[#938E97] flex justify-between gap-15duration-700 med-900:text-[20px];
} */
/* .wrapper {
  @apply flex w-[95%] items-center justify-start;
} */

.title,
.date,
.country,
.magnitude {
  @apply py-[14px] relative;
}
.title::before,
.date::before,
.country::before {
  content: '';
  @apply absolute left-[-16%] border-dashed border-[1px] border-[#CDC9CE] h-[60%] top-1/2 -translate-y-1/2;
}
.title2,
.magnitude2 {
  @apply text-[15px] text-left p-[3px];
}
.title2 {
  @apply break-all;
}
/* .title2::before,
.date::before,
.country::before {
  content: '';
  @apply absolute left-[-16%] border-dashed border-[1px] border-[#CDC9CE] 
  h-[60%] top-1/2 -translate-y-1/2;
} */

.magnitude {
  @apply w-[16%] before:hidden;
}
.magnitude,
.date {
  background: var(--bg-color);
  @apply py-[14px] pl-[63px] pr-5 relative w-fit text-[#FF0003] font-extrabold text-center;
}
.magnitude2 {
  background: linear-gradient(180deg, #f6f0f0 3.46%, #ffffff 54.69%, #f6f0f0 100%);
  /* background: var(--bg-color); */
  @apply py-[14px] pl-[6px] pr-5 relative min-w-[26%] text-[#FF0003] font-extrabold text-start pl-[20px] break-words;
}
.magnitude::after,
.magnitude2::after,
.date::after {
  content: '';
  /* width: 35px;
  height: 35px; */
  background: linear-gradient(133deg, #f6f0f0 3.46%, #ffffff 54.69%, #f6f0f0 100%);
  /* transform: rotate(46deg); */
  transform: translate(3%, 20%) rotate(45deg);

  /* border-bottom: 35px solid transparent;
  border-top: 35px solid transparent;
  border-left: 40px solid transparent;
  border-image: linear-gradient(180deg, #f6f0f0 3.46%, #ffffff 54.69%, #f6f0f0 100%);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25); */
  @apply absolute left-[91%] top-0 bottom-0 h-[49px] w-[49px];
}

.country {
  @apply text-black;
}

.date {
  @apply pr-10 pl-7 text-[#654E65] font-normal after:hidden;
}

@media (max-width: 1300px) {
  .magnitude2 {
    @apply min-w-[31%];
  }
  .item {
    @apply text-[16px];
  }
  .magnitude::after,
  .date::after {
    content: '';
    border-bottom: 25px solid transparent;
    border-top: 25px solid transparent;
    border-left: 20px solid #f6f0f0;
  }
}

@media (max-width: 1130px) {
  .magnitude2 {
    @apply min-w-[36%];
  }
  .item {
    @apply med-1200:text-[16px];
  }
  .magnitude::after,
  .date::after {
    content: '';
    border-bottom: 25px solid transparent;
    border-top: 25px solid transparent;
    border-left: 20px solid #f6f0f0;
  }
}
@media (max-width: 962px) {
  .magnitude2 {
    @apply min-w-[42%];
  }
}
@media (max-width: 835px) {
  .magnitude2 {
    @apply text-[13px] min-w-[45%];
  }
  .title2 {
    @apply text-[13px];
  }
}
@media (max-width: 795px) {
  .magnitude2 {
    @apply min-w-[47%];
  }
}

@media (max-width: 720px) {
  .magnitude::after,
  .magnitude2::after,
  .date::after {
    @apply absolute left-[89%];
  }
}

@media (max-width: 585px) {
  .magnitude::after,
  .magnitude2::after,
  .date::after {
    @apply absolute left-[86%];
  }
}

@media (max-width: 570px) {
  .magnitude2 {
    @apply text-[12px];
  }
  .title2 {
    @apply text-[10.4px];
  }
}
@media (max-width: 520px) {
  .title2 {
    @apply text-[8px];
  }
}
/* @media (max-width: 415px) {
  .magnitude::after,
  .magnitude2::after,
  .date::after {
    @apply absolute left-[81%];
  }
} */

@media (max-width: 600px) {
  .title::before,
  .date::before,
  .country::before {
    @apply hidden;
  }
  .title,
  .date,
  .country,
  .magnitude {
    @apply text-xs;
  }
  .wrapper {
    @apply flex-col [&>*]:py-0 items-start mx-auto w-fit relative;
  }
  /* .wrapper::before {
    content: "";
    @apply absolute left-[-8%] border-dashed border-[1px] border-[#CDC9CE] 
    h-[60%] top-1/2 -translate-y-1/2;
  } */
  /* .wrapper::after {
    content: "";
    @apply absolute right-[-8%] border-dashed border-[1px] border-[#CDC9CE] 
    h-[60%] top-1/2 -translate-y-1/2;
  }  */
  .magnitude,
  .date {
    @apply py-3 pl-3 pr-2;
  }
  .date {
    @apply pl-2 pr-3;
  }
  .magnitude {
    @apply min-w-[60px];
  }
  .magnitude::after,
  .date::after {
    border-bottom: 20px solid transparent;
    border-top: 20px solid transparent;
    border-left: 14px solid #f6f0f0;
  }
}

@media (max-width: 495px) {
  .magnitude::after,
  .magnitude2::after,
  .date::after {
    @apply absolute left-[85%];
  }
}

@media (max-width: 442px) {
  .magnitude::after,
  .magnitude2::after,
  .date::after {
    @apply absolute left-[81%];
  }
}
@media (max-width: 382px) {
  .magnitude::after,
  .magnitude2::after,
  .date::after {
    @apply absolute left-[81%];
  }
}
@media (max-width: 348px) {
  .magnitude::after,
  .magnitude2::after,
  .date::after {
    @apply absolute left-[79%];
  }
}
