.list {
  @apply list-image-[url("../../../assets/icons/list-style-round.svg")] mt-[40px];
}
.list li {
  @apply text-xl text-justify text-[#000] med-1200:text-sm;
}

.advantage_list {
  @apply list-image-[url("../../../assets/icons/ul_img.svg")] flex flex-wrap justify-between items-center mt-[70px] flex-row med-900:flex-col med-900:items-start;
}
.advantage_list li {
  @apply w-[40%] pl-3 text-lg text-black  med-1200:text-sm text-left med-900:w-[90%];
}
.accumulated_experience {
  @apply bg-[url("../../../assets/main/technologies/accumuliated.svg")] med-900:bg-cover;
}

.accumulated_bottom {
  @apply flex justify-between pt-[103px]  gap-3 med-900:flex-col 
  med-900:pt-[45px];
}
.accumulated_bottom h2 {
  @apply text-lg;
}
.accumulated_bottom div {
  @apply w-[260px] text-lg rounded-[20px] py-[20px] gap-[20px]  px-[20px]  med-1200:text-sm med-900:w-full;
}
.accumulated_text {
  @apply bg-[#30cfff87]  text-dark-blue;
}
.accumulated_text:nth-child(2) {
  @apply bg-[#4da3e584]  text-dark-blue;
}
.accumulated_text:nth-child(3) {
  @apply bg-[#0030dd8d]  text-dark-blue;
}
.title div {
  @apply py-[20px];
}
.title h2 {
  @apply text-2xl font-semibold uppercase text-dark-blue;
}
.accumulated_bottom p {
  @apply text-base text-[#818181] mt-[25px];
}

.bigBox {
  @apply grid grid-cols-[repeat(auto-fill,_minmax(250px,_1fr))] gap-[25px] justify-items-center w-[80%] mt-[83px]
  /* @apply grid col-auto; */
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
  
  /* gap: 25px; */
  /* max-width: 1100px; */
  /* width: 100%; */
  /* width: 80%;
  margin-top: 83px; */;
}

.boxes {
  max-width: 339px;
  height: 209px;
  background: linear-gradient(180deg, #f6f0f0 3.46%, #ffffff 54.69%, #f6f0f0 100%);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  padding: 21px 20px 20px 20px;
}
