.language_box {
  @apply cursor-pointer absolute;
}
.language_select {
  @apply w-[27px] h-[27px] bg-transparent;
}
.language_options {
  @apply z-[1001] absolute w-auto right-0;
}
.language_options span {
  @apply flex justify-between items-center font-semibold px-[33px] first:pt-[15px] 
    transition-all mx-auto h-11 w-full text-[#9C9C9C] text-[20px] cursor-pointer shadow-light
    overflow-y-hidden py-3 text-ellipsis overflow-hidden whitespace-nowrap last:pb-[15px];
}
.active {
  background: linear-gradient(180deg, #0026aa 0%, #30cfff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
