.button {
  @apply px-6 py-2 rounded-[30px] text-white text-lg w-fit min-w-[207px];
  background: linear-gradient(180deg, #0026aa 0%, #30cfff 100%) !important;
}
.button:hover {
  color: white !important;
  background: linear-gradient(180deg, #0026aa 0%, #30cfff 100%) !important;
}

.transparent {
  @apply !bg-transparent !text-dark-blue !border-dark-blue border-[1px];
  background-image: none !important;
}

/* .gradient {
  border: 8px solid #0000;
  border-radius: 20px;
  background: linear-gradient(red, blue) padding-box,
    linear-gradient(green, pink) border-box;
} */
.gradient {
  position: relative;
  background: transparent !important;
  color: #0026aa;
  /* border: 1px solid; */
  /* border-image: linear-gradient(180deg, #0026aa 0%, #30cfff 100%); */
  /* border-radius: 30px; */
  width: fit-content;
  min-width: fit-content;
}
.gradient::before {
  content: '';
  position: absolute;

  content: '';
  position: absolute;
  inset: 0;
  border-radius: 30px;
  padding: 2px;
  background: linear-gradient(180deg, #0026aa 0%, #30cfff 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
