.cont {
  @apply relative mx-auto min-h-[500px];
}
.img_box {
  @apply relative mx-auto flex items-center justify-center w-[370px] h-[340px];
}
.nums {
  @apply absolute w-full h-full overflow-hidden;
}
.num {
  @apply absolute w-full h-full;
}
.num > div {
  @apply absolute font-semibold rounded-full w-[38px] h-[38px] text-white text-center text-[24px] z-[1];
  background: linear-gradient(180deg, #0026aa 0%, #30cfff 100%);
}
.num::after {
  content: "";
  @apply h-[1px] w-full bg-[#8DB1F3] absolute z-0;
}
.num:nth-child(1) > div {
  @apply -translate-x-1/2 left-1/2 top-0;
}
.num:nth-child(2) > div {
  @apply right-0 -translate-y-[35%] top-[35%];
}
.num:nth-child(5) > div {
  @apply left-0 -translate-y-[35%] top-[35%];
}
.num:nth-child(4) > div {
  @apply bottom-0 left-[20%];
}
.num:nth-child(3) > div {
  @apply bottom-0 right-[20%];
}

.num:nth-child(1)::after {
  @apply rotate-[34deg] top-[20%] right-0 left-[47%] w-[194px];
}
.num:nth-child(2)::after {
  @apply rotate-[-33deg] top-[19%] right-0 left-[2%] w-[194px];
}
.num:nth-child(5)::after {
  @apply rotate-[69deg] bottom-0 top-[65%] right-0 left-[-12%] w-[194px];
}
.num:nth-child(4)::after {
  @apply bottom-[6%] right-[15%] left-[20%] w-[194px];
}
.num:nth-child(3)::after {
  @apply rotate-[111deg] bottom-0 top-[65%] right-[-11.5%] w-[194px];
}

.img {
  animation: rot 5s infinite cubic-bezier(0, 0, 0, 0);
}
@keyframes rot {
  from {
    transform: rotate(0deg) ;
  }
  to {
    transform: rotate(359deg) ;
  }
}
