.box {
  border: 10px solid transparent;
  background: linear-gradient(69deg, #0a1577 0%, #92d3ff 100%) border-box
    border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  mask-composite: destination-out;
  @apply w-[140px] h-[140px] rounded-full relative;
}
.letter {
  max-width: 26px;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  margin: 0 0;
  font-family: sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 26px;
  color: black;
  position: relative;
  @apply ease-in-out;
}
.fake-letters {
  max-width: 26px;
  font-size: 26px;
  font-weight: 700;
  line-height: 26px;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  word-break: break-all;
  @apply bg-white;
}
