.nav {
  @apply bg-[#F7F7F7] rounded-[9px] overflow-hidden w-[105px] flex flex-col fixed 
  top-[20%] right-[24px] z-[1000];
  box-shadow: 0px 1.75494px 4.38734px rgba(0, 0, 0, 0.1);
}
.nav_item {
  @apply rounded-[9px] text-dark-blue leading-[10px] text-[8px] duration-300
  text-center flex flex-col gap-[13px] px-[20px] pt-[9.5px] pb-[6px] items-center;
}
.nav_item:hover {
  @apply bg-white;
  box-shadow: 0px 1.75494px 4.38734px rgba(0, 0, 0, 0.1);
}
.nav_item span {
  @apply text-base;
}

.active {
  @apply bg-white;
  box-shadow: 0px 1.75494px 4.38734px rgba(0, 0, 0, 0.1);
}
div.hidden_nav {
  @apply !hidden;
}
.boxes {
  @apply flex flex-col p-1 gap-5 duration-300 overflow-hidden;
}

@media (max-width: 900px) {
  .nav {
    @apply sticky w-full rounded-none m-0  
    bottom-0 left-0 right-0 top-[unset];
  }
  .boxes {
    @apply gap-3 !grid grid-cols-4 justify-items-center !h-auto;
  }
  .nav_item {
    @apply items-center gap-1;
  }
  .nav_item span {
    @apply text-xs;
  }
  .nav_item img {
    @apply max-h-[100px] min-w-[60px];
  }
}
