@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply box-border h-auto p-0 m-0 font-normal;
  text-decoration-skip-ink: none;
  font-family: "Inter", sans-serif;
  outline: none;
}
:root {
  --dark-blue: #002687;
}
html,
body {
  position: relative;
  height: 100%;
}
.app {
  @apply min-h-screen grid grid-rows-[auto_1fr_auto] max-w-[100vw] max-w-[1250px] my-0 mx-auto px-4;
  /* overflow-x-hidden; */
}
/* ================================================================ */
.main-input {
  @apply bg-white rounded-[30px] px-[25px] py-[14px] w-[408px] shadow-light;
  border: 1px solid #ffffff;
}
.main-input::placeholder {
  @apply text-xl text-[#b2b2b2];
}
/* ================================================================ */

/* --------------------------- Swiper ----------------------------- */
.swiper-pagination-bullet {
  @apply !bg-[#d9d9d9];
}
.swiper-button-next,
.swiper-button-prev {
  @apply !text-[#909090];
}
.swiper-button-next {
  @apply !right-[-25px];
}
.swiper-button-prev {
  @apply !left-[-25px];
}
/* ================================================================ */
